
.footer-space

.footer
  .container
    .row
      .col-md-10.col-sm-10.col-xs-10
        p.text-muted Copyright (c) 2014 Fenway House
        p.small Verbatim copying and redistribution of this entire page are permitted provided this notice is preserved.
        p.small Copying and redistribution of photos is permitted under the 
          a(href="https://creativecommons.org/licenses/by-sa/4.0/") CC-BY-SA 4.0 
          | license.

        
      .col-md-2.col-sm-2.col-xs-2.text-right
        a(href="https://github.com/dutra")
          i.fa.fa-github-square.fa-2x
        a(href="https://flickr.com/isaquefd")
          i.fa.fa-flickr.fa-2x
        a(href="https://plus.google.com/+IsaqueDutra")
          i.fa.fa-google-plus-square.fa-2x