extends layout

block content
  .container
    .row
      .col-xs-7
      .col-xs-5
        .index-title
           | Hello there. We are 
           span.text-red Fenway House
           | .
       p Welcome to #{title}
